<template>
  <div class="container">
    <div class="row">
      <div class="column error">
        {{$store.state.errorMessage}}
      </div>
    </div>
    <div class="row">
      <div class="column-20">
        <fieldset>
          <label for="apiToken"
                 v-if="togglNotClockify">Toggl API Token</label>
          <input type="password"
                 v-if="togglNotClockify"
                 v-model="apiToken"
                 id="apiToken"
                 @change="refreshProfile"
          />
          <label for="apiToken"
                 v-if="!togglNotClockify">
            <a href="https://clockify.me/user/settings" target="_blank">Clockify API Key</a>
          </label>
          <input type="password"
                 v-if="!togglNotClockify"
                 v-model="apiKey"
                 id="apiKey"
                 @change="refreshProfile"
          />

          <button type="button"
                  @click="refreshProfile"
          >Refresh Profile</button>

          <label for="userName">User name</label>
          <input type="text"
                 :value="$store.state.userName"
                 id="userName"
                 readonly
          />

          <label for="workspace">Workspace</label>
          <select id="workspace"
                  v-model="currentWorkspace"
                  @change="refreshProjects"
          >
            <option
              v-for="w in workspaces"
              :key="w.id"
              :value="w.id"
            >{{w.name}}</option>
          </select>

          <label for="project">Clients</label>
          <select id="project"
                  v-model="currentClient"
          >
            <option
              v-for="c in clients"
              :key="c.id"
              :value="c.id"
            >{{c.name}}</option>
          </select>

          <label for="project">Project</label>
          <select id="project"
                  v-model="currentProject"
          >
            <option
                    v-for="p in projects"
                    :key="p.id"
                    :value="p.id"
            >{{p.name}}</option>
          </select>

          <label for="range">Range</label>
          <select id="range"
                  v-model="reportRange"
                  @change="loadReport"
          >
            <option value="today">Today</option>
            <option value="yesterday">Yesterday</option>
            <option value="daysAgo">... days ago</option>
            <option value="thisWeek">This week</option>
            <option value="prevWeek">Previous week</option>
            <option value="thisMonth">This month</option>
            <option value="prevMonth">Previous month</option>
          </select>

          <label for="selectDaysAgo"
                 v-if="selectDaysAgoVisible"
          >
            Days ago:
          </label>
          <input id="selectDaysAgo"
                 type="number"
                 v-if="selectDaysAgoVisible"
                 v-model="daysAgo"
                 @change="loadReport"
          />

          <label for="showDiffernce">
            Show difference
          </label>
          <input type="checkbox"
                 id="showDiffernce"
                 v-model="showDifference"
          />

        </fieldset>
      </div>

      <Report/>
    </div>
  </div>
</template>

<script>
import 'milligram'
import { mapActions, mapState } from 'vuex'
import Report from '../components/Report'


export default {
  name: 'home',
  components: {
    Report,
  },

  computed: {
    ...mapState([
      'workspaces',
      'currentWorkspace',
      'clients',
      'currentClient',
      'projects',
      'currentProject',
      'togglNotClockify',
    ]),

    reportRange: {
      get () {
        return this.$store.state.reportRange
      },

      set (v) {
        this.$store.commit('setReportRange', v)
      },
    },

    apiToken: {
      get () {
        return this.$store.state.apiToken
      },

      set (v) {
        this.$store.commit('setApiToken', v)
      },
    },

    apiKey: {
      get () {
        return this.$store.state.apiKey
      },

      set (v) {
        this.$store.commit('setApiKey', v)
      },
    },

    currentWorkspace: {
      get () {
        return this.$store.state.currentWorkspace
      },

      set (v) {
        this.$store.commit('setCurrentWorkspace', v)
      },
    },

    currentClient: {
      get () {
        return this.$store.state.currentClient
      },

      set (v) {
        this.$store.commit('setCurrentClient', v)
      },
    },

    currentProject: {
      get () {
        return this.$store.state.currentProject
      },

      set (v) {
        this.$store.commit('setCurrentProject', v)
      },
    },

    daysAgo: {
      get () {
        return this.$store.state.daysAgo
      },

      set (v) {
        this.$store.commit('setDaysAgo', v)
      },
    },

    showDifference: {
      get () {
        return this.$store.state.showDifference
      },

      set (v) {
        this.$store.commit('setShowDifference', v)
      },
    },

    selectDaysAgoVisible () {
      return this.$store.state.reportRange === 'daysAgo'
    },
  },

  methods: {
    ...mapActions([
      'loadReport',
      'refreshProfile',
      'refreshProjects',
    ]),
  },
}
</script>

<style>
  .error {
    color: red;
  }
</style>
