<template>
  <div class="column">
    <div>
      <button type="button"
              @click="loadReport"
      >Refresh</button>
      &nbsp;
      <button type="button"
              @click="copyTableToClipboard"
      >Copy!
      </button>
    </div>

    Total: {{totalDuration}} <span v-if="showDifference">({{totalDurationDifference}})</span>

    <table>
      <tbody ref="reportTable">
      <tr
        v-for="(r, index) in tableData"
        :key="index"
      >
        <td>{{r.displayDate}}</td>
        <td>{{r.user}}</td>
        <td>{{r.project}}</td>
        <td>{{r.description}}</td>
        <td></td>
        <td>{{r.duration}}</td>
        <td v-if="showDifference">{{r.durationTime}}</td>
        <td v-if="showDifference">{{r.durationDifference}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import copyElToClipboard from '../lib/clipboard'


export default {
  name: 'Report',

  computed: {
    ...mapGetters({
      tableData: 'reportTableData',
    }),

    showDifference () {
      return this.$store.state.showDifference
    },

    totalDuration () {
      return this.tableData.map(r => r.duration).reduce((a, b) => a + b, 0)
    },

    totalDurationDifference () {
      return this.tableData.map(r => r.durationDifference).reduce((a, b) => a + b, 0)
    },
  },

  methods: {
    ...mapActions([
      'loadReport',
    ]),

    copyTableToClipboard () {
      const el = this.$refs.reportTable
      copyElToClipboard(el)
    },
  },
}
</script>
